.DetailedView {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: space-between;
    margin: 5vw 5vw;
    max-width: 90vw;
}

/* .DetailedView .top {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
} */

.DetailedInfo {
    text-align: left;
    
}

.DetailedInfo h1 {
    font-weight: 500;
    text-align: left;
    margin: 0;
}

.material-symbols-outlined.close {
    color: black;
    font-size: xx-large;
    font-variation-settings:
        'FILL' 0,
        'wght' 600,
        'GRAD' 0,
        'opsz' 48
}
