.favorite-section {
    width: 100vw;
    padding: 5vh 5vw;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    background-color: whitesmoke;
}

h1 {
    margin-top: 5rem;
    text-align: center;
}

h3 {
    width: 100vw;
    text-align: center;
}