.FilterButton {
  box-sizing: border-box;

  height: 40px;
  padding: 10px 25px;
  margin: 5px;

  border-radius: 50vmax;
  border: none;

  background: whitesmoke;

  font-family: 'Helvetica';
  font-size: medium;
  font-weight: 200;
  color: darkgray;
  transition: 0.75s;
  cursor: pointer;
}

.FilterButton:hover {
  background: darkgray;
  color: whitesmoke;
  transform: scale(1.05);
  transition: 0.75s;
}

.FilterButton.active {
  background: black;
  color: white;
}