.Header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: baseline;

  padding: 10px 5vw;
  background: silver;
  color: aliceblue;
}

nav > a {
  text-decoration: none;
  color: inherit;
  padding: 5px;
  margin: 0 10px;
}
