.Header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: stretch;

  padding: 0 1rem;
  margin: 0;
  background-color: aliceblue;
  color: midnightblue;
  height: 10vh;
  border-bottom: 5px solid midnightblue;
}

nav ul {
  display: flex;
  list-style: none;
  /* gap: 1rem; */
  padding: 0;
  margin: 0;
  height: 100%;
}

.nav-link, 
.logo-link {
  text-decoration: none;
  color: inherit;
}

.Header a {
  height: 100%;
  display: flex;
  align-items: center;
}

nav a {
  padding: .25rem .75rem;
}

nav li {
  min-width: 5vw;
}

.logo-link {
  font-family: 'Playfair';
  font-size: large;
}

.nav-link {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 200;
  transition: 0.5s;
}

nav li.active{
  background-color: midnightblue;
  color: aliceblue;
} 

nav li:hover {
  background-color: midnightblue;
  color: aliceblue;
  transition: 0.5s;
}


