.SearchBar {
    align-self: flex-start;
    /* Implicit sizing - dependant on container element sizing */
    box-sizing: border-box;
    height: 40px;
    width: 200px;
    padding: 5px 15px;
    margin: 5px 10px 5px 5px;

    border-radius: 50vmax;
    border: 2px solid black;

    outline: none;

    text-align: left;
    font-family: 'Helvetica';
    font-size: medium;
    font-weight: 200;
    color: darkgray;

    background-color: white;
    /* background-image: url(""); */
    background-position: right;
    background-repeat: none;
    background-size: contain;

    transition: 0.5s;
}

/* Chrome, Firefox, Opera, Safari 10.1+ */
.SearchBar::placeholder {
    color: #6d6d6d;
    /* Firefox */
    opacity: 1;
}

/* Internet Explorer 10-11 */
.SearchBar:-ms-input-placeholder {
    color: #6d6d6d;
}

/* Microsoft Edge */
.SearchBar::-ms-input-placeholder {
    color: #6d6d6d;
}

.SearchBar:not(:placeholder-shown) {
    background: black;
    color: white;
}

.SearchBar:focus {
    /* border: 2px solid #d0043c; */
    background: black;
    color: white;
    transform: scale(1.05);
    transition: 0.5s;
}