.TicketInformation {
    
}

.TicketInformation h2 {

}

.TicketInformation h3 {

}

.TicketInformation p {
    font-size: small;
    font-weight: 300;

}

.TicketInformation span {
    font-size: small;
    font-weight: 500;
}



.TicketInformation .opening-hours {
    box-sizing: border-box;

    width: 60vw;
    padding: 5vh 5vw;
    margin: 20px 0px;

    text-align: right;
    background: whitesmoke;
}

.TicketInformation .opening-hours h2 {
    text-align: left;
    color: midnightblue;
    margin: 0;
}

.TicketInformation .opening-hours hr {
    background: midnightblue;
    border: none;
    height: 0.5px;
}

.TicketInformation .opening-hours p {
    width: 100%;
    padding: 0px 5px;
    margin: 0;
}

.TicketInformation .opening-hours span {
    float: left;
}